body{
    margin:0;
    padding:0;
}
.content{
    display:flex;
}
footer{
    min-height: 20vh;
    color:white;
    background:#1A1C1D;
    text-align:center;
    padding-top:10vh;
}
nav{
    min-height:100vh;
    flex:0 0 7vw;
    background:#1A1C1D;
    overflow: hidden;
    
}
.main{
    min-height: 100vh;
    flex: 1;
}
.main aside{
    min-height:30vh;
}
.main main{
    min-height:50vh;
}
.accountBtn{
    position:sticky;
    top: 20px;
    /*right:0px;*/
    left:80%;
    width:500px;
    z-index: 4;
    margin-top:7px;
}
.account{
    display:inline-block;
    /*box-sizing: border-box;*/
    height:40px;
    width:150px;
    background:linear-gradient(0deg, #ffa012, #ffbb54);
    border-radius: 50px;
    text-align:center;
    font-size: 2rem;
    box-shadow: 2px 2px 10px 2px #ff9a00;
    padding-top:5px;

    
    
}
.account:nth-of-type(2){
    width:auto;
    padding-left:8px;
    padding-right:8px;
    margin-left:30px;
}
aside{
    background: black;
}
.slider{
    position:relative;
    top:0;
    left:5%;
    width:1100px;

}


#slides, .slide{
    width:1100px;
    height:400px;
}
.slide a{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:0;
    margin:0;
    padding:0;
}
#slides{
    list-style:none;
    position:relative;
    top:0;
    left:0;
    margin:0;
    padding:0;
}
.slide{
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    z-index:1;
    transition:opacity 1s;
    background-size:1100px 400px;
}
.showing{
    opacity:1;
    z-index:2;
}
.slide:nth-of-type(1){
    background-image:url("slider/slider1.jpg");
}
.slide:nth-of-type(2){
    background-image:url("slider/slider2.jpg");
}
.slide:nth-of-type(3){
    background-image:url("slider/slider3.jpg");
}

#toggleRadio{
    position:absolute;
    z-index: 3;
    bottom:2px;
    left:550px;
    width:100px;
    
}






.headerIcon{
    transition:5s;
    animation: animheadericon 5s infinite;
}

@-webkit-keyframes animheadericon{
    0%{
        transform: rotate(0);
    }
    60%{
        transform: rotate(0);
    }
    80%{
        transform:rotate(360deg);
    }
}
.headerItem, .headerItemA{
    text-decoration:none;
    list-style: none;
    color:white;
    margin-top:50px;

    font-family:;
}
.whyUs{
    text-align: center;
}
body{
    overflow-x: hidden;
}
.header{
    margin-left:-20px;
}
.mainItemCatalog4, .mainItemCatalog5, .mainItemCatalog6{
    height:200px;
    width:200px;
}
#mainItemCatalog > div{
    background:#fcba03;
    border-radius:4px;
    transition: 1s;
}
#mainItemCatalog > div:hover{
    background:#e07109;
}

#mainItemCatalog > div img{
    float:left;
}


.animText{
    position:relative;
    top:50px;
    left:50px;
    width:300px;
    height:35px;
    overflow: hidden;

}
.animText > p{
    position:absolute;
    top:0;
    left:0;
    width:4000px;
    animation: animTExt 30s infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes animTExt{
    0%{
        transform: translateX(8%);
    }
      100%{
        transform:translateX(-100%);
      }
}

.modal-visible{
    position:fixed;
    top:100px;
    left:30%;
    z-index:5;
    background-color:#e8e8e8;
    padding:10px;
    border-radius:8px;
}
.none{
    display:none;
}

.closeModal{
    position:absolute;
    top:0;
    left:0;
    height:20px;
    width:20px;
    border-radius:100%;
    color:darkgray;
    background:white;
    text-align: center;
}







@media screen and (max-width: 1180px){
    .accountBtn{
        left:40vw;
    }
}

@media screen and (max-width: 820px){
    nav{
        display:none;
        opacity:1;
    }
    aside{
        display:none;
    }
}

